//
   Created by Lisa Joanno on 16/01/17.

extends layout

block content
    script(src="/javascripts/validationPage.js")
    h1= title
    div(id="myEnigma", style="display:block")
        p De la team : #{team}
        p Pour l'enigme : #{enigma}
        p Réponse proposée : #{answer}
        img(src='#{imgsrc}' style="width : 600px;")
        div(id="idAnswer" myId='#{id}')
        input(type='button', value='Valider', onclick='isValid()', class='btn btn-success btn-lg')
        input(type='button', value='Refuser', onclick='isNotValid()', class='btn btn-danger btn-lg')
        input(type='button', value='Actualiser', onClick="window.location.reload()", class='btn btn-info btn-lg')
    div(id="answerSent", style="display:none")
        p a
        input(type='button', value='Une autre !', onClick="window.location.reload()", class='btn btn-info btn-lg')
